/* header */
header{
    height:14vh;
    background-color:var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0rem;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 1000;
   
 }
 
 .logo img {
     width:200px
 }
 
 a{
     text-decoration:none;
     color: var(--secondary-color);
     font-weight: bolder;
 }
 
 nav a{
     color: black;
 }
 
 
 .header-right > a:first-child {
     border: 2px solid black;
     border-radius: 20px;
     padding: 3px 5px;
     animation: littleJump 1s infinite;
 }
 
 @keyframes littleJump {
    100%{
     transform: translate(0,-5px) ;
    }   
    
 }


 /* hero */

 .c-item img{
    object-fit: cover;
    height: 80vh;
    width: 100%;
  }
  
  .c-carousel{
    margin-top: 14vh ;
  }
.overlay{
    background: #0000006d;
    position: absolute;
    top: 14vh;
    height: 80vh;
    width: 100%;
}

.slide-info{
    z-index: 2;
}
.content{
    position: absolute;
    top: 30vh;
    color: white;
    left:50vw;
    transform: translate(-50%);
}

.browseMenu{
  height: 70vh;
}

.browsemenu-photo {
  width: 50%;
}

.featured-products img{
  height: 200px;
  width: 200px;
}

 /* about */
 #about-us {
    height: 80vh;
}

.image-container {
    position: relative;
    height: 100%; 
    background-image: url('family-photo.jpg'); 
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.overlayy{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1;
}
.text-content{
    position: relative;
    padding: 1rem;
    text-align: center;
    color: white;
    z-index:2;

}