/* header */
header{
    height:14vh;
    background-color:var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0rem;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 1000;
   
 }
 
 .logo img {
     width:200px
 }
 
 a{
     text-decoration:none;
     color: var(--secondary-color);
     font-weight: bolder;
 }
 
 nav a{
     color: black;
 }
 
 
 .header-right > a:first-child {
     border: 2px solid black;
     border-radius: 20px;
     padding: 3px 5px;
     animation: littleJump 1s infinite;
 }
 
 @keyframes littleJump {
    100%{
     transform: translate(0,-5px) ;
    }   
    
 }



 /* footer  */
 